body {
    background: url('../img/background.png') repeat transparent;
    font-family: 'Roboto', sans-serif !important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.errorMessage {
    padding: 10px;
    margin: 0 15px 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    display: none;
}

#search-block-form{
    display: none;
}
.itsme {
    z-index: 10;
}

.block > h2 {
    display: none;
}

ul.menu{
    overflow: auto;
    height: 40px;
}
.menu li {
    list-style: none !important;
    float: left;
    text-decoration: none;
    padding: 10px;
}
ul.menu li {
    padding: 10px;
}
.menu > li > a {
    color: #717272;
    font-family: 'Roboto', sans-serif !important;
    font-weight: bold;
}

.menu > li > a:hover {
    text-decoration: none;
}

.menu > li:hover {
    background-color: #cee7f4;
}

.chatBtn {
    color: red;
    font-size: 40px;
    position: fixed;
    bottom: 60px;
    left: 10px;
    z-index: 1000;
}

.noteForm {
    padding: 5px;
    overflow: auto;
}

.noteBtn {
    color: red;
    font-size: 40px;
    position: fixed;
    bottom: 60px;
    left: 80px;
    z-index: 1000;
}

.OT_subscriber {
    float: left;
    margin: 9px;
}

.iwtsb br {
    display: none;
}

.logout, .activate, .deactivate, .destroy, .chatBtn, .noteBtn {
    cursor: pointer;
}

li .logout {
    float: left;
}

.chatBtn .btn .btn-success, .noteBtn .btn .btn-success {
    margin: 0 !important
}

.container-body {
    background: white;
}

.navbar-inverse {
    background-color: #3c454c;
}

.navbar {
    margin-bottom: 0px;
}

.col-md-10 {
    padding-left: 0px;
    padding-right: 0px;
}

.padding-10 {
    padding: 10px;
    margin: 10px 0;
}

.red {
    color: red;
}

.green {
    color: green;
}

.bold {
    font-weight: bold;
}

td.dbkeys {
    color: #1e81bb;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}

td.dbvals {
    color: #ff6e00;
    font-weight: bold;
    text-align: right;
}

.dsbb {
    padding: 0;
    margin: 0;
}

.none {
    display: none;
}

.block {
    display: block;
}

.login {
    margin: 10px 0;
}

.dropdown-menu .glyphicon {
    color: #333;
    padding: 0;
    margin: 0px;
    vertical-align: middle;
}

.cursesb, .usersb {
    padding: 0;
}

/* Banner */
.top-banner {
    background: white;
    clear: both;
    overflow: auto;
}

.search {
    border-radius: 0;
    border: 0;
    width: 75%;
    float: left;
}

.btnSearch {
    background: #d8eaf3;
    border-radius: 0;
    border: 0;
    height: 34px;
    padding: 8px 20px;
    width: 25%;
    float: left;
    color: #717272;
    font-family: 'Roboto', sans-serif !important;
}

.banner {
    float: left;
    width: 100%;
    padding: 2px;
    margin-top: -10px;
}

/* Home Page */

.navbar.navbar-inverse {
    border-radius: 0;
}

ul.nav.navbar-nav.navbar-right {

}

ul.nav.navbar-nav.navbar-right {
    float: right;
}

nav.customNav.navbar.navbar-default {
    min-height: 40px;
    margin-bottom: 10px;
}

.glyphicon {
    font-size: 20px;
    color: #f0f0f0;
    margin: 15px 10px;
    cursor: pointer;
}

.badge {
    position: relative;
    margin-left: -20px;
    background: red;
    padding: 2px;
    font-size: 10px;
    margin-top: -30px;
    border-radius: 0px;
}

.nav > li {
    width: auto;
    float: left;
}

.navbar-form {
    padding: 0px;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
}

.form-nav {
    float: left;
    margin-top: 15px;
}

/* Top Banner */
img.top-banner {
    width: 100%;
}

.customNav {
    background-color: #d8eaf3;
    clear: both;
    margin-bottom: 10px;
}


.logout {
    float: right;
}

ul#msg {
    height: 300px;
    overflow: scroll;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 1px 2px 1px #eee;
}

li.mmmmm {
    list-style: none;
    padding: 5px 0;
}

.cusBlue {
    background-color: #d8eaf3;
}

.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: #ff7000;
}

.carousel-indicators .active {
    background-color: #ff7000;
    width: 20px;
    height: 20px;
}

.carousel-indicators li {
    border-width: 2px;
    width: 20px;
    height: 20px;
}

/* Panel */
#custPanel {
    /*margin-top: 20px;*/
}

#custPanel .panel-heading {
    font-size: 16px;
    font-weight: bold;
    color: #85898a;
    background: #d8eaf3;
    text-transform: uppercase;
    cursor: pointer;
}

#custPanel .fa {
    color: white;
    background-color: #ff6f00;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
}

img.propic {
    height: 64px;
    float: left;
    margin-right: 15px;
}

.fa.fa-comment {
    font-size: 16px;
    font-style: normal !important;
}

.notify {
    clear: both;
    overflow: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.notify .propic {
    width: 64px;
    height: 64px;
    padding: 2px;
    border: 1px solid #ddd;
    float: left;
}

.notify .content {
    float: left;
    width: calc(100% - 200px);
}

.notify .time {
    float: left;
}

h3.name {
    color: #3a9bca;
    margin-top: 0px;
}

textarea.share {
    width: calc(100% - 80px);
    height: 64px;
    padding: 20px;
    float: left;
    border: 1px solid #dddddd;
}

#custPanel .btn-primary {
    float: right;
    margin-top: 10px;
}

/* Footer */
#footer {
    padding: 20px 0;
    margin: 20px 0 0;
}

.widget {
    width: auto;
    float: left;
    overflow: auto;
}

#footer ul {
    padding: 0;
    margin: 0;
}

.md-col-1, .md-col-2, .md-col-5 {
    float: left;
}

.footer-links, .social {
    list-style: none;
    padding-left: 10px;
}

.footer-links > li > a {
    color: white;
}

.footer-links > li > a:hover {
    color: #ffad64;
    text-decoration: none;
}

i.fa {
    background: #647177;
    padding: 5px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-weight: bold;
    font-size: 20px;
    color: #3c454c;
}

i.fa:hover {
    background-color: #ffad64;
    color: white;
}

.social > li {
    float: left;
    margin-right: 10px;
}

input.btn-subs {
    background: #ffad64;
    border: 0px none;
    color: white;
    height: 36px;
    padding: 5px 10px;
}

.subs-email {
    padding: 5px 10px;
    width: 200px;
    height: 36px;
    color: #000;
    border-radius: 0;
    border: 0 none;
}

.foot-subs {
    color: #fff;
}

a.viewall {
    float: right;
    padding: 6px 10px;
    border: 1px solid #72a9c2;
    box-shadow: 4px 0px 4px #72a9c2;
    text-decoration: none;
}

.main-menu .glyphicon {
    margin: 0;
    color: black;
}

.tsbtn {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 65px;
    cursor: pointer;
}

/* Video Menus */

#videos {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#subscriber {
    width: 100%;
    height: 100%;
}

#publisher {
    width: 360px;
    height: 240px;
}

.float-menu-right {
    position: absolute;
    top: 0;
    background: #494949;
    width: 200px;
    right: 0;
    text-align: right;
    z-index: 9999;
    padding-left: 0;
    border-top: 1px solid black;
}

.float-menu-right li {
    list-style: none;
    padding: 10px;
    text-align: right;
    clear: both;
    width: 100%;
}

.float-menu-right li:hover {
    background: #666;
    cursor: pointer;
}

.float-menu-right li > a {
    color: white;
    text-decoration: none;
}

.float-menu-close {
    float: right;
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
}

.float-menu {
    position: absolute;
    /*top: 0;*/
    top: 152px;
    background: #494949;
    width: 200px;
    left: 0;
    text-align: right;
    z-index: 9999;
    padding-left: 0;
    border-top: 1px solid black;
}

.float-menu li {
    list-style: none;
    padding: 10px;
    text-align: left;
    clear: both;
    width: 100%;
}

.float-menu li:hover {
    background: #666;
    cursor: pointer;
}

.float-menu li > a {
    color: white;
    text-decoration: none;
}

.dropdown .fa-bars {
    font-size: 22px;
    color: #f0f0f0;
    padding: 18px 0 15px;
}

.tnav .fa-search {
    font-size: 22px;
    color: #f0f0f0;
    padding: 15px 10px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
}

.thatSearch {
    width: 100%;
    padding: 2px;
    background: #ddd;
    margin-bottom: 10px;
    height: 50px;
    z-index: 10;
}

.thatSearch input {
    width: 100%;
    padding: 10px;
}

.glyphicon-bell, .glyphicon-comment {
    padding-top: 5px;
}

@media (max-width: 600px) {

    .form-nav {
        width: 100%;
        clear: both;
    }

    .navbar-nav {
        float: left;
    }

    .notify .content {
        width: calc(100% - 100px);
    }

    .name {
        font-size: 15px;
    }

    .time {
        clear: both;
    }

    .tnav .fa-search {
        display: block !important;
    }

    .form-nav {
        display: none;
    }

    .widget {
        width: auto;
        float: left;
        overflow: auto;
        min-width: 200px;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {

    ul.menu {
        height: auto;
    }

    .menu > li {
        width: 100%;
    }

    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: white;
        border: 0;
        right: 0 !important;
        box-shadow: none;
        left: inherit;
        /*padding: 5px 0;*/
    }

    .navbar-nav {
        margin: 0;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 900px) {

    .md-col-10 {
        width: 100%;
    }

    .form-nav {
        margin-top: 8px;
    }

}

@media (min-width: 900px) {
    .md-col-8 {
        float: left;
    }

    .md-col-4 {
        float: right;
    }

    .form-nav {
        margin-top: 8px;
        width: 600px !important;;
    }

    .tnav .fa-search {
        display: none;
    }
}

@media (max-width: 900px) {
    .top-banner #bs-example-navbar-collapse-1, .top-banner .container-fluid {
        margin: 0 !important;
        padding: 0 !important;
    }

    .main-menu {
        display: block !important;
        padding: 10px;
        font-weight: bold;
        cursor: pointer;
    }

    ul.menu{
        display: none !important;
    }

    .dropdown-menu {
        display: none !important;
    }

    .float-menu-right {
        display: none;
    }

    .widget {
        min-width: 200px;
        margin-bottom: 20px;
    }
}

@media (min-width: 600px) {
    .form-nav {
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .form-nav {
        margin-top: 8px;
        width: 400px;
    }

    .navbar-right .glyphicon {
        font-size: 20px;
        color: #f0f0f0;
        margin: 15px 10px 0 0;
    }

    .dropdown-menu .glyphicon {
        color: black;
        margin: 0;
    }

    .dropdown-menu > li > a, .dropdown-menu > li > a:hover {
        color: black;
    }
}